---
import Citium from "../svg/citium.astro";
---

<footer class="border-t border-t-chetwode-500/20">
  <div
    class="container mx-auto flex max-w-6xl items-center justify-center px-4 py-10"
  >
    <div class="flex flex-col items-center">
      <a
        href="https://www.citium.dev"
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center gap-2 text-base font-bold text-chetwode-500"
      >
        Desarrollado por
        <Citium class="w-20 fill-chetwode-500" />
      </a>
    </div>
  </div>
</footer>
