---
import Layout from "@/layouts/Layout.astro";
import Gradient from "@/components/Gradient.tsx";
import CertificatePage from "@/components/certificate/CertificatePage.tsx";

import { db, user, event, eq, certificate } from "astro:db";
const { id } = Astro.params;
import { certificateSchema } from "@/types/certificate";

const rows = await db
  .select({
    id: certificate.id,
    event,
    user,
  })
  .from(certificate)
  .innerJoin(event, eq(event.id, certificate.eventId))
  .innerJoin(user, eq(user.id, certificate.userId))
  .where(eq(certificate.id, id as string))
  .get();

const result = certificateSchema.safeParse(rows);
---

<Layout>
  {
    result.success ? (
      <CertificatePage certificate={result.data} />
    ) : (
      <main class="flex h-screen items-center justify-center">
        <Gradient />
        <h1 class="text-2xl font-bold">El certificado no existe</h1>
      </main>
    )
  }
</Layout>
